mat-card {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: 768px) {
    width: 50%;
  }
}

.large-icon {
  font-size: 80px !important;
  width: 80px;
  height: 80px;
}