<mat-list-item>
  <span matListItemIcon class="d-flex justify-content-center align-items-center">
    <mat-checkbox
      (change)="handleCompleteTask($event, task())"
      [checked]="isTaskCompleted(task())"
    ></mat-checkbox>
  </span>
  <span matListItemTitle class="d-flex justify-content-between align-items-center">
    <span>
      {{ task().title }}
    </span>
    <span class="w-50 d-flex justify-content-end justify-content-md-between align-items-center">
      <span class="d-none d-md-inline">
        @if (task().dueDate) {
          {{ getDateLocaleString(task().dueDate!) }}
        } @else {
          Sem Data
        }
      </span>
      <mat-chip [ngClass]="[getStatusInfo(task().status).class]">
        {{ getStatusInfo(task().status).label }}
      </mat-chip>
    </span>
  </span>

  <span matListItemMeta>
    <app-menu-button [task]="task()"></app-menu-button>
  </span>
</mat-list-item>
