<div class="d-flex flex-column gap-3 p-3">
  <!-- Header -->
  <div class="d-flex flex-column gap-2">
    <h2 class="fs-4 fw-bold m-0 lh-sm">{{ task.title }}</h2>
    <mat-chip [class]="[getStatusInfo(task.status).class, 'fit-content']">
      {{ getStatusInfo(task.status).label }}
    </mat-chip>
  </div>

  <!-- Descrição -->
  <mat-card appearance="outlined" class="rounded-3">
    <mat-card-content class="py-1 px-0">
      <div class="d-flex align-items-start gap-3 px-3 py-2">
        <mat-icon class="icon-style text-black-50 flex-shrink-0 mt-1">description</mat-icon>
        <div class="d-flex flex-column gap-1">
          <span class="small text-black-50 fw-medium text-uppercase">Descrição</span>
          <span>{{ task.description || '--' }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Datas -->
  <mat-card appearance="outlined" class="rounded-3">
    <mat-card-content class="py-1 px-0">
      <div class="d-flex align-items-start gap-3 px-3 py-2">
        <mat-icon class="icon-style text-black-50 flex-shrink-0 mt-1">calendar_today</mat-icon>
        <div class="d-flex flex-column gap-1">
          <span class="small text-black-50 fw-medium text-uppercase">Prazo</span>
          <span>{{ task.dueDate ? getDateLocaleString(task.dueDate) : '--' }}</span>
        </div>
      </div>

      <mat-divider class="mx-3"></mat-divider>

      <div class="d-flex align-items-start gap-3 px-3 py-2">
        <mat-icon class="icon-style text-black-50 flex-shrink-0 mt-1">add_circle</mat-icon>
        <div class="d-flex flex-column gap-1">
          <span class="small text-black-50 fw-medium text-uppercase">Criada em</span>
          <span>
            {{ task.createdAt ? getDateLocaleString(task.createdAt) : '--' }}
          </span>
        </div>
      </div>

      <mat-divider class="mx-3"></mat-divider>

      <div class="d-flex align-items-start gap-3 px-3 py-2">
        <mat-icon class="icon-style text-black-50 flex-shrink-0 mt-1">check_circle</mat-icon>
        <div class="d-flex flex-column gap-1">
          <span class="small text-black-50 fw-medium text-uppercase">Concluída em</span>
          <span>
            {{ task.completedAt ? getDateLocaleString(task.completedAt) : '--' }}
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
