@use '@angular/material' as mat;

:root {
  @include mat.icon-button-overrides(
    (
      icon-color: (
        --mat-toolbar-container-text-color,
      ),
    )
  );
}

.error-snackbar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--mat-sys-surface),
      container-color: var(--mat-sys-error),
    )
  );
}

.success-snackbar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--mat-sys-surface),
      container-color: var(--mat-sys-secondary),
    )
  );
}

.info-snackbar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--mat-sys-surface),
      container-color: var(--mat-sys-secondary-container),
    )
  );
}
