@use '@angular/material' as mat;
@use './app-theme.scss' as theme;

:root {
  @include mat.icon-button-overrides(
    (
      icon-color: (
        --mat-toolbar-container-text-color,
      ),
    )
  );
}

.error-snackbar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--mat-sys-surface),
      container-color: var(--mat-sys-error),
    )
  );
}

.success-snackbar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--mat-sys-surface),
      container-color: var(--mat-sys-secondary),
    )
  );
}

.info-snackbar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--mat-sys-surface),
      container-color: var(--mat-sys-secondary-container),
    )
  );
}

.status-pending {
  @include mat.chips-overrides(
    (
      elevated-container-color: mat.get-theme-color(theme.$custom-theme, tertiary, 90),
      hover-state-layer-color: mat.get-theme-color(theme.$custom-theme, neutral, 40),
    )
  );
}

.status-in-progress {
  @include mat.chips-overrides(
    (
      elevated-container-color: mat.get-theme-color(theme.$custom-theme, primary, 90),
      hover-state-layer-color: mat.get-theme-color(theme.$custom-theme, neutral, 40),
    )
  );
}

.status-completed {
  @include mat.chips-overrides(
    (
      elevated-container-color: mat.get-theme-color(theme.$custom-theme, secondary, 90),
      hover-state-layer-color: mat.get-theme-color(theme.$custom-theme, neutral, 40),
    )
  );
}
