@use '@angular/material' as mat;

.spinner {
  @include mat.progress-spinner-overrides((
    active-indicator-color: var(--mat-sys-surface),
  ));
}

mat-toolbar {
  img {
    max-height: 40px;
    display: block;
  }
}
