<mat-card appearance="outlined" class="h-100">
  <mat-card-content class="d-flex flex-column justify-content-between h-100 p-2">
    <!-- Header -->
    <div class="d-flex align-items-center justify-content-between gap-2">
      <div class="d-flex align-items-center gap-2 overflow-hidden">
        <mat-checkbox
          (change)="handleCompleteTask($event, task())"
          [checked]="isTaskCompleted(task())"
        ></mat-checkbox>
        <span class="fs-5 fw-medium text-truncate">{{ task().title }}</span>
      </div>
      <app-menu-button [task]="task()"></app-menu-button>
    </div>

    <!-- Body -->
    <div class="d-flex align-items-end justify-content-between gap-2 mt-2">
      <div class="d-flex flex-column gap-1 overflow-hidden">
        @if (task().description) {
          <div class="d-flex align-items-center gap-1">
            <mat-icon class="icon-style">description</mat-icon>
            <span class="small mat-text-on-surface text-truncate">{{ task().description }}</span>
          </div>
        }
        @if (task().dueDate) {
          <div class="d-flex align-items-center gap-1">
            <mat-icon class="icon-style">calendar_today</mat-icon>
            <span class="small mat-text-on-surface">{{ getDateLocaleString(task().dueDate!) }}</span>
          </div>
        }
      </div>
      <mat-chip [class]="getStatusInfo(task().status).class">
        {{ getStatusInfo(task().status).label }}
      </mat-chip>
    </div>
  </mat-card-content>
</mat-card>
