<div class="content mx-auto">
  @if (this._taskService.tasks().length == 0) {
    <p>Nenhuma tarefa</p>
  }

  <mat-expansion-panel class="mb-3">
    <mat-expansion-panel-header>
      <mat-panel-title>Filtros</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-list>
    <h3 mat-subheader>Tarefas</h3>
    <mat-divider></mat-divider>
    @for (task of _taskService.tasks(); track task.id) {
      <app-task-detail [task]="task"></app-task-detail>
      <mat-divider></mat-divider>
    }
  </mat-list>

  <app-floating-button />
</div>
