<div class="content mx-auto">
  @if (this.showPendingTasks()) {
    <app-filter-panel
      (titleFilter)="onTitleFilterChange($event)"
      (statusFilter)="onStatusFilterChange($event)"
    />
  }

  <mat-list>
    <h3 mat-subheader>Tarefas</h3>
    <mat-divider></mat-divider>
    @if (filteredTasks().count > 0) {
      @for (task of filteredTasks().itens; track task.id) {
        <app-task-detail [task]="task"></app-task-detail>
        <mat-divider></mat-divider>
      }
    } @else {
      <p class="text-center">Nenhuma tarefa</p>
    }
  </mat-list>

  @if (showCompletedTasks()) {
    <mat-list class="mt-5">
      <h3 mat-subheader>Tarefas Concluídas</h3>
      <mat-divider></mat-divider>
      @for (task of completedTasks().itens; track task.id) {
        <app-task-detail [task]="task"></app-task-detail>
        <mat-divider></mat-divider>
      }
    </mat-list>
  }

  <app-floating-button />
</div>
