name: Run Unit Tests

on:
  pull_request:
    branches:
      - deploy

jobs:
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'

      - name: Instalar Angular CLI Global
        run: npm install -g @angular/cli@latest

      - name: Instalar dependências do projeto
        run: npm ci

      - name: Executar Testes Unitários
        run: ng test
